.img-movimento{
width: 40%;
border: 50px groove rgb(69, 11, 102);

}
.gif-title{
font-size: xx-large;
font-family:'Times New Roman', Times, serif;
text-align: center;
text-decoration: line-through;

}
.container{
text-align: center;
border: 50px groove rgb(6, 35, 46);

}